importFrom(stats,
           as.formula, lag, lm, median, predict, quantile, rbeta,
           rbinom, reshape, rlnorm, rnorm, runif, setNames, splinefun,
           weighted.mean)
importFrom(utils, head, tail, hasName)
importFrom(parallel, clusterEvalQ, makeCluster, parLapply, stopCluster)
importFrom(parallelly, availableCores)
importFrom(mvtnorm, rmvnorm)
importFrom(dplyr,
           any_of, arrange, bind_cols, bind_rows, everything, filter,
           group_by, if_else, left_join, mutate, n, rename, select,
           summarize, ungroup)
importFrom(rlang, .data)

export(gen_exposure,
       get_lear_indiv, get_lear_indiv_mc,
       get_lear_pop, get_lear1_pop, get_lear1_pop1,
       interpol_cancer_rate,
       interpol_mort_rate,
       rm_solid_incid_sumray,
       rm_solid_mort_sumray,
       rm_solid_incid_walsh2021,
       rm_breast_incid_walsh2021,
       rm_leuk_incid_walsh2021)
