importFrom(stats,
           as.formula, lag, lm, median, predict, quantile, rbeta,
           reshape, rlnorm, rnorm, runif, setNames, splinefun,
           weighted.mean)
importFrom(utils, head, tail, hasName)
importFrom(parallel, clusterEvalQ, makeCluster, parLapply, stopCluster)
importFrom(parallelly, availableCores)
importFrom(mvtnorm, rmvnorm)
importFrom(dplyr,
           arrange, bind_cols, bind_rows, filter, group_by, if_else,
           left_join, mutate, n, rename, select, summarize, ungroup)

export(gen_exposure,
       get_lear_1, get_lear1_pop, get_lear1_pop1, get_lear_pop,
       interpol_cancer_rate,
       interpol_mort_rate,
       rm_solid_incid_sumray,
       rm_solid_mort_sumray,
       rm_solid_incid_walsh2021,
       rm_breast_incid_walsh2021,
       rm_leuk_incid_walsh2021)
